@use "../vars";

@mixin main($EMOJISET) {
    // Individual emojis
    @each $name, $selector in vars.$emojis {
        /* #{$name} */
        .image-3tDi44[src="/assets/#{$selector}.svg"],
        .image-3tDi44[style*="#{$selector}"],
        .emoji-4YP39J[src="/assets/#{$selector}.svg"],
        .emoji-4YP39J[style*="#{$selector}"],
        .emojiImage-1mTIfi[src="/assets/#{$selector}.svg"],
        .emojiImage-1mTIfi[style*="#{$selector}"],
        .image-2c9fiD[src="/assets/#{$selector}.svg"],
        .image-2c9fiD[style*="#{$selector}"],
        .icon-Yl4xbA[src="/assets/#{$selector}.svg"],
        .icon-Yl4xbA[style*="#{$selector}"],
        .emoji-1kNQp2[src="/assets/#{$selector}.svg"],
        .emoji-1kNQp2[style*="#{$selector}"],
        .roleIcon-3-WL_I[src="/assets/#{$selector}.svg"],
        .roleIcon-3-WL_I[style*="#{$selector}"],
        .emoji[src="/assets/#{$selector}.svg"],
        .emoji[style*="#{$selector}"] {
            background: transparent !important;
            content: url("https://minidiscordthemes.github.io/EmojiReplace/emojis/#{$EMOJISET}/#{$name}.avif") !important;
        }
    }

    // Diversity selector
    @each $name, $selector in vars.$claps {
        /* #{$name} */
        .diversityEmojiItemImage-1pfGqI[style*="#{$selector}"] {
            background: transparent !important;
            content: url("https://minidiscordthemes.github.io/EmojiReplace/emojis/#{$EMOJISET}/#{$name}.avif") !important;
        }
    }

    // Spritesheets
    @each $name, $selector in vars.$spritesheets {
        /* #{$name}px */
        .emojiSpriteImage-3ykvhZ[style*="#{$selector}"] {
            background-image: url("https://minidiscordthemes.github.io/EmojiReplace/spritesheets/#{$EMOJISET}/#{$name}.avif") !important;
        }
    }
    /* picker_44px */
    .sprite-2lxwfc {
        background-image: url("https://minidiscordthemes.github.io/EmojiReplace/spritesheets/#{$EMOJISET}/picker_44.avif") !important;
    }
}
